## Data Structures in Python

**Set:** Set is an ``unordered`` collection of data type that is ``iterable``, ``mutable`` and has ``no duplicate`` elements. The order of elements in a set is undefined though it may consist of various elements. It has a highly optimized method for checking whether a specific element is contained in the set.

#### Creating Set

In [52]:
set1 = set()

In [53]:
print(set1)

set()

In [57]:
a = 10
b = 6

In [59]:
print(a, b, a + b)

10 6 16

In [60]:
set2 = {1, 2, 3, 4}

In [61]:
print(set2)

{1, 2, 3, 4}

In [56]:
type(set2)

set

In [63]:
set3 = set('PYTHON')

In [64]:
type(set3)

set

In [65]:
text = 'Python'

In [66]:
set5 = set(text)

In [67]:
set5

{'P', 'h', 'n', 'o', 't', 'y'}

In [68]:
xyz = [1,2,3,4,5,6]

In [69]:
type(xyz)

list

In [70]:
set6 = set(["Welcome", "to", "AI with Python"])

In [71]:
set6

{'AI with Python', 'Welcome', 'to'}

In [77]:
# (Having duplicate values)
set7 = set([1, 2, 4, 4.0, 4.5, 3, 3, 3, 6, 5])

In [78]:
set7

{1, 2, 3, 4, 4.5, 5, 6}

In [79]:
4 == 4.0

True

In [80]:
# a mixed type of values
# (Having numbers and strings)
set8 = set([1, 2, 'Welcome', 4.6, 'and', 6, 'Bye'])

In [81]:
set8

{1, 2, 4.6, 6, 'Bye', 'Welcome', 'and'}

In [25]:
# Adding elements to an empty set
set1.add(10)
set1.add(15)
set1.add(20)

In [26]:
set1

{10, 15, 20}

In [29]:
set9 = set([ 4, 5, (6, 7)])

In [30]:
set9

{(6, 7), 4, 5}

In [31]:
set9.update([10, 11])

In [32]:
set9

{(6, 7), 10, 11, 4, 5}

In [37]:
# Accessing element using for loop
for i in set9:
    print(i, end="\n")

4
5
10
11
(6, 7)

In [38]:
# Removing elements from Set using Remove() method
set9.remove(5)
set9.remove(10)

In [39]:
set9

{(6, 7), 11, 4}

In [ ]:
set9.discard(11)

In [ ]:
set10 = set([1, 2, 3, 4, 5, 6, 
            7, 8, 9, 10, 11, 12])
print(set10)

In [ ]:
set10.pop()

In [40]:
set1

{10, 15, 20}

In [ ]:
# Removing all the elements from Set using clear() method
set1.clear()