### Python Basics

In [4]:
print("Welcome to the course, Hands of Training.")

Welcome to the course, Hands of Training.

In [5]:
print('123')

123

### Comments

In [6]:
#This is a comment
print("Hello, World!")

Hello, World!

In [7]:
print("Hello, World!") #this prints out on the screen

Hello, World!

In [8]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [9]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [11]:
"""
This is a comment
written in
more than just one line,
One line added
"""
print("Hello, World!")

Hello, World!

In [ ]:
print()

### Variables

* Variables are containers for storing data values.
* Python has no command for declaring a variable.
* A variable is created the moment you first assign a value to it.

In [12]:
x = 5
y = "Maths"

In [13]:
print(x)

5

In [14]:
print(y)

Maths

In [15]:
print(type(x))

<class 'int'>

In [16]:
print(type(y))

<class 'str'>

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [17]:
x = 4       # x is of type int

In [18]:
print(x)

4

In [19]:
print(type(x))

<class 'int'>

In [20]:
x = "Sally" # x is now of type str

In [21]:
print(x)

Sally

In [22]:
print(type(x))

<class 'str'>

If you want to specify the data type of a variable, this can be done with casting.

In [27]:
x = str(3)    # x will be '3'

In [28]:
print(x)

3

In [29]:
print(type(x))

<class 'str'>

In [33]:
y = int(3)    # y will be 3

In [36]:
print(y)

3

In [37]:
print(type(y))

<class 'int'>

In [38]:
z = float(3)  # z will be 3.0

In [39]:
z

3.0

In [40]:
type(z)

float

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "Maths"
print(type(x))
print(type(y))

String variables can be declared either by using single or double quotes:

In [ ]:
x = "Aslam"
# is the same as
x = 'Aslam'

Variable names are case-sensitive.

In [41]:
a = 4
A = "hurry"
#A will not overwrite a

In [42]:
a == A

False

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [43]:
a = 10
_a = 10

In [44]:
a

10

In [45]:
_a

10

In [47]:
a10a = 20

In [48]:
a10a

20

In [49]:
_5 = 15

In [50]:
_5

15

* Camel Case (except the first word)
* Pascal Case (All starts from Capital)
* Snake Case (All lowercase)

In [53]:
myDataBase = "Camel Case"

In [54]:
MyDataBase = "Pascal Case"

In [56]:
mydatabase = 'Snake Case'

In [57]:
my_data_base = 'Snake Case'

In [58]:
x, y, z = "Orange", "Banana", "Cherry"

In [59]:
print(x)

Orange

In [60]:
print(y)

Banana

In [61]:
print(z)

Cherry

In [62]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [68]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [70]:
x = "Great!"
print("Python is " + x)

Python is Great!

In [71]:
x = "Python is "

In [72]:
x

'Python is '

In [79]:
y = "awesome "

In [80]:
y

'awesome '

In [81]:
z =  x + y

In [82]:
print(z)

Python is awesome

In [83]:
y + x

'awesome Python is '

In [78]:
x + x

'Python is Python is '

In [84]:
a = '2'
b = "3"

In [85]:
a + b

'23'

In [94]:
a - b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [86]:
h = 2
k = 3

In [87]:
h + k

5

In [92]:
h - k

-1

In [93]:
h * k

6

In [42]:
m = 'imran '
n = 3

In [43]:
m + n

TypeError: can only concatenate str (not "int") to str

In [44]:
m*n

'imran imran imran '

In [45]:
n*m

'imran imran imran '

In [38]:
m/n

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [90]:
type(m)

str

In [91]:
type(n)

int

### Python Data Types

Variables can store data of different types, and different types can do different things. Built-in Python Functions are:

* Text Type:	    ``str``
* Numeric Types:	``int, float, complex``
* Sequence Types:	``list, tuple``
* Mapping Type:	    ``dict``
* Set Types:	    ``set``
* Boolean Type:	    ``bool``
* Binary Types:	    ``bytes, bytearray, memoryview``

In [4]:
x = 5.0

In [5]:
print(x)

5.0

In [6]:
print(type(x))

<class 'float'>

x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

### Python Numbers

In [7]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [8]:
print(type(x))

<class 'int'>

In [9]:
print(type(y))

<class 'float'>

In [10]:
print(type(z))

<class 'complex'>

In [11]:
x = 1
y = 35656222554887711
z = -3255522

In [12]:
print(type(x))

<class 'int'>

In [13]:
print(type(y))

<class 'int'>

In [14]:
print(type(z))

<class 'int'>

In [15]:
x = 1.10
y = 1.0
z = -35.59

In [16]:
print(type(x))

<class 'float'>

In [17]:
print(type(y))

<class 'float'>

In [18]:
print(type(z))

<class 'float'>

In [19]:
x = 3+5j
y = 5j
z = -5j

In [20]:
print(type(x))

<class 'complex'>

In [21]:
print(type(y))

<class 'complex'>

In [22]:
print(type(z))

<class 'complex'>

In [23]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [24]:
#convert from int to float:
a = float(x)

In [25]:
type(a)

float

In [26]:
#convert from float to int:
b = int(y)

In [27]:
type(b)

int

In [28]:
#convert from int to complex:
c = complex(x)

In [29]:
type(c)

complex

In [30]:
print(c)

(1+0j)

In [31]:
print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [32]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [33]:
x = 2.3
print(int(x))

2

### Python Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [46]:
print("Hello")

Hello

In [47]:
print('Hello')

Hello

In [48]:
a = "Hello"
print(a)

Hello

In [49]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [51]:
a = "Hello, World!"
print(a[1])

e

In [52]:
print(a[7])

W

In [61]:
for x in "banana":
    print(x)
print(" : pakistan")

b
a
n
a
n
a
 : pakistan

In [ ]:
for (i=0; i<10; i++)
    {
        print(%x)
    }

In [54]:
len(a)

13

In [55]:
txt = "The best things in life are free!"

In [56]:
print(txt)

The best things in life are free!

In [62]:
print("free" in txt)

True

In [63]:
print("avoid" in txt)

False

In [64]:
b = "0123456789"

In [65]:
b

'0123456789'

In [66]:
print(b[2:5])

234

In [68]:
b = "012345678"
print(b[:5])

01234

In [72]:
a = "Hello "
b = " World"

In [73]:
c = a + b

In [74]:
print(c)

Hello  World

In [78]:
age = '36'
txt = "My name is Saleem, I am " + age

In [79]:
print(txt)

My name is Saleem, I am 36

In [82]:
name = "PYTHONisGOOD"

In [83]:
name[3:8]

'HONis'

In [84]:
a = 'Hello'
b = "World"

In [85]:
a+b

'ABCXYZ'

In [89]:
a = 'ABCDEFGhXYZ'
     012345678910

In [90]:
print(a[0:3] + a[4:6])

ABCEF

In [91]:
b = 'HELLO WORLD'

In [92]:
b

'HELLO WORLD'

In [93]:
b[6:11]

'WORLD'

In [94]:
b[6:]

'WORLD'